{% extends 'base.html' %}

<!-- Contenu de la balise '<body>' -->
{% block content %}
<div>
  <label for="input_int">Saisir un chiffre :</label>
  <input type="number" id="input_int" />
  <button type="button" onclick="afficher()">Afficher</button>
  <div id="exercice_1"></div>
  <hr />
  <div id="exercice_2"></div>
  <hr />
  <div id="exercice_3"></div>
  <hr />
  <div id="exercice_4"></div>
  <hr />
  <div id="exercice_5"></div>
  <hr />
  <div id="exercice_6"></div>
</div>
{% endblock %}

<!-- Contenu de la balise '<script>' -->
{% block script %}
<script>
  function afficher() {
    exercice_1();
    exercice_2();
    exercice_3();
    exercice_4();
    exercice_5();
    exercice_6();
  }

  function exercice_1() {
    var input_int = document.getElementById("input_int").value;
    var result = "";

    for (j = 0; j < input_int; j++) {
      for (i = 0; i < input_int; i++) {
        result += "*";
      }
      result += "<br />";
    }

    document.getElementById("exercice_1").innerHTML = result;
  }

  function exercice_2() {
    var input_int = document.getElementById("input_int").value;
    var result = "";

    for (j = 0; j < input_int; j++) {
      for (i = 0; i <= j; i++) {
        result += "*";
      }
      result += "<br />";
    }

    document.getElementById("exercice_2").innerHTML = result;
  }

  function exercice_3() {
    var input_int = document.getElementById("input_int").value;
    var result = "";

    for (j = input_int; j > 0; j--) {
      for (i = 0; i < j; i++) {
        result += "*";
      }
      result += "<br />";
    }

    document.getElementById("exercice_3").innerHTML = result;
  }

  function exercice_4() {
    var input_int = document.getElementById("input_int").value;
    var result = "";

    for (i = input_int; i > 0; i--) {
      for (j = 0; j < i - 1; j++) {
        result += "&ensp;";
      }

      for (k = 0; k < input_int - j; k++) {
        result += "*";
      }

      result += "<br />";
    }

    document.getElementById("exercice_4").innerHTML = result;
  }

  function exercice_5() {
    var input_int = document.getElementById("input_int").value;
    var result = "";

    for (i = 1; i <= input_int; i++) {
      for (j = 1; j <= input_int - i; j++) {
        result += "&ensp;";
      }
      for (k = 1; k <= 2 * i - 1; k++) {
        result += "*";
      }
      result += "<br />";
    }

    for (i = input_int - 1; i > 0; i--) {
      for (j = 1; j <= input_int - i; j++) {
        result += "&ensp;";
      }
      for (k = 1; k <= 2 * i - 1; k++) {
        result += "*";
      }
      result += "<br />";
    }

    document.getElementById("exercice_5").innerHTML = result;
  }

  function exercice_6() {
    var input_int = document.getElementById("input_int").value;
    var result = "";

    for (i = 1; i <= 10; i++) {
      result += `${input_int} x ${i} = ${input_int * i}<br />`;
    }

    document.getElementById("exercice_6").innerHTML = result;
  }
</script>
{% endblock %}
