{% extends 'base.html' %}

<!-- Contenu de la balise '<body>' -->
{% block content %}

<section>
  <svg width="575" height="575">
    <circle cx="460" cy="92" r="34.5" fill="yellow" stroke="black" stroke-width="2.3"></circle>
    <line x1="460" y1="23" x2="460" y2="57.5" stroke="black" stroke-width="2.3"></line>
    <line x1="460" y1="126.5" x2="460" y2="161" stroke="black" stroke-width="2.3"></line>
    <line x1="414" y1="92" x2="379.5" y2="92" stroke="black" stroke-width="2.3"></line>
    <line x1="506" y1="92" x2="540.5" y2="92" stroke="black" stroke-width="2.3"></line>
    <line x1="425.5" y1="57.5" x2="402.5" y2="34.5" stroke="black" stroke-width="2.3"></line>
    <line x1="494.5" y1="57.5" x2="517.5" y2="34.5" stroke="black" stroke-width="2.3"></line>
    <line x1="425.5" y1="126.5" x2="402.5" y2="149.5" stroke="black" stroke-width="2.3"></line>
    <line x1="494.5" y1="126.5" x2="517.5" y2="149.5" stroke="black" stroke-width="2.3"></line>

    <rect x="172.5" y="230" width="230" height="230" fill="yellow" stroke="black" stroke-width="2.3"></rect>

    <rect x="184" y="170" width="23" height="46" fill="red" stroke="black" stroke-width="2.3"></rect>

    <polygon points="172.5,230 287.5,115 402.5,230" fill="red" stroke="black" stroke-width="2.3"></polygon>

    <circle cx="287.5" cy="184" r="23" fill="white" stroke="black" stroke-width="2.3"></circle>

    <rect x="264.5" y="345" width="57.5" height="115" fill="brown" stroke="black" stroke-width="2.3"></rect>

    <rect x="207" y="276" width="57.5" height="57.5" fill="white" stroke="black" stroke-width="2.3"></rect>
    <line x1="207" y1="304" x2="264.5" y2="304" stroke="black" stroke-width="2.3"></line>
    <line x1="235.75" y1="276" x2="235.75" y2="333.5" stroke="black" stroke-width="2.3"></line>
  </svg>
</section>

{% endblock %}
